.card:hover {
    transform: scale(1.03) rotate(1.2deg);
    cursor: pointer;
  }

  .footer>p{
    color: rgb(255, 255, 255)
  }

  #titleImg {
    margin: auto;
    display: block;
    margin-bottom: 30px;
  }